
<div class="body"><div class="container mt-5" id="body">
    <h1>Upload Event</h1>
    <form #f="ngForm" (ngSubmit)="Insert(f)">
        <div class="mb-3">
            <label for="event_name" class="form-label">Event Name</label>
            <input type="text" class="form-control" id="event_name"  ngModel required name="e_name" >
        </div>
        <div class="mb-3">
            <label for="event_type" class="form-label">Event Type</label>
            <select class="form-select" id="event_type" ngModel required name="e_type" >
                <option value="conference">Conference</option>
                <option value="workshop">Workshop</option>
                <option value="seminar">Seminar</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="event_sdate" class="form-label">Event Start Date</label>
            <input type="text" class="form-control" id="event_sdate" ngModel required name="e_sdate" >
        </div>
        <div class="mb-3">
            <label for="event_edate" class="form-label">Event End Date</label>
            <input type="text" class="form-control" id="event_edate" ngModel required name="e_edate">
        </div>
        <div class="mb-3">
            <label for="e_poster" class="form-label">Event Poster</label>
            <input type="file" class="form-control" id="e_poster"  accept="image/*" ngModel required name="e_poster">
        </div>
        <div class="mb-3">
            <label for="event_fee" class="form-label">Event Fee</label>
            <input type="number" class="form-control" id="event_fee" ngModel required name="e_fee">
        </div>
        <div class="mb-3">
            <label for="event_contact" class="form-label">Event Contact</label>
            <input type="text" class="form-control" id="event_contact" ngModel required name="e_contact" >
        </div>
        <div class="mb-3">
            <label for="event_country" class="form-label">Event Country</label>
            <input type="text" class="form-control" id="event_country" ngModel required name="e_country">
        </div>
        <div class="mb-3">
            <label for="event_state" class="form-label">Event State</label>
            <input type="text" class="form-control" id="event_state" ngModel required name="e_state" >
        </div>
        <div class="mb-3">
            <label for="event_city" class="form-label">Event City</label>
            <input type="text" class="form-control" id="event_city" ngModel required name="e_city">
        </div>
        <div class="mb-3">
            <label for="event_address" class="form-label">Event Address</label>
            <input type="text" class="form-control" id="event_address" ngModel required name="e_address">
        </div>
        <div class="mb-3">
            <label for="event_more" class="form-label">Additional Information</label>
            <textarea class="form-control" id="event_more"  rows="4" ngModel required name="e_more"></textarea>
        </div>
        <div class="mb-3">
            <label for="event_more" class="form-label">event_id </label>
            <input type="text" class="form-control" id="event_address" ngModel required name="e_id">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Create Event</button>
    </form>
</div>
</div>