<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->
            <img
                src="https://images.unsplash.com/photo-1558008258-3256797b43f3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHdvcmtzaG9wc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Call It A Confluence Of Improbabilities </h1>
                    <p></p>
                    <div class="btn btn-primary" routerLink="event" style="background-color: white; color: blue;">
                        <i class="fas fa-cloud-upload-alt"></i> Upload Event
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img
                src="https://media.istockphoto.com/id/1400058229/photo/progress-bar-with-the-words-new-skill-loading-education-concept-having-a-goal-online-learning.webp?b=1&s=170667a&w=0&k=20&c=y5raPfXszXBJqpfTvQXntjwuoZCfAwIh_SAFPB1SpkQ=">
            <div class="container">
                
            </div>
        </div>
        <div class="carousel-item">
            <img
                src="https://media.istockphoto.com/id/1385520247/photo/senior-business-woman-holding-presentation.webp?b=1&s=170667a&w=0&k=20&c=u7kh5cIMrx7yuMiN_Aw8dAT09sT7UUzzCKuuOZO_5NE=">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Save Trees - Save Earth</h1>
                    <h4>Plants can survive without humans but humans cannot survive without Plants</h4>
                    <p><a class="btn btn-lg bg-warning" href="#">Green Village</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container">
    <div class="row">
        <div class="col-4">
           
                <img src="https://images.unsplash.com/photo-1587825140708-dfaf72ae4b04?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2VtaW5hcnN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
                alt="" id="img">
    
        </div>
        <div class="col-8">
            <h1 style="text-align: center;" id="head">Seminars</h1>
            <p style="text-align: center; padding: 42px;" id="content">A workshop is a captivaace where curiosity is ssionate
                mentors, these gatherings serve as vibrant hubs of inspiration, fostering the exchange of ideas and the
                birth of new perspectives. In this shared voyage of discovery, participants are empowered to unveil
                their potential, and the workshop becomes a symphony of aspiration, transforming the ordinary into the
                extraordinary.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1 style="text-align: center;margin-left: 80px;" id="head">Workshops</h1>
            <p style="text-align: center; padding: 42px;margin-left: 120px;" id="content">A workshop is a captivaace where curiosity is ssionate
                mentors, these gatherings serve as vibrant hubs of inspiration, fostering the exchange of ideas and the
                birth of new perspectives. In this shared voyage of discovery, participants are empowered to unveil
                their potential, and the workshop becomes a symphony of aspiration, transforming the ordinary into the
                extraordinary.</p>
        </div>
        <div class="col-4">
            <img src="https://media.istockphoto.com/id/174911927/photo/business-woman-working-hard-on-the-desk.webp?b=1&s=170667a&w=0&k=20&c=ViOn6ktdzdFJWyaCMG4oCHZtXWPmnaGrzUNM0hh5IOY="
            alt="" id="img">
            
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-4">
           
                <img src="https://media.istockphoto.com/id/175815065/photo/friendly-business-discussion.webp?b=1&s=170667a&w=0&k=20&c=4X-ok5_NSVgRzpv1cBSAISqpgfF7HmGtJL8-tDtGkuU="
                alt="" id="img">
    
        </div>
        <div class="col-8">
            <h1 style="text-align: center;" id="head">Seminars</h1>
            <p style="text-align: center; padding: 42px;" id="content">A workshop is a captivaace where curiosity is ssionate
                mentors, these gatherings serve as vibrant hubs of inspiration, fostering the exchange of ideas and the
                birth of new perspectives. In this shared voyage of discovery, participants are empowered to unveil
                their potential, and the workshop becomes a symphony of aspiration, transforming the ordinary into the
                extraordinary.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1 style="text-align: center;margin-left: 80px;" id="head">Workshops</h1>
            <p style="text-align: center; padding: 42px;margin-left: 120px;" id="content">A workshop is a captivaace where curiosity is ssionate
                mentors, these gatherings serve as vibrant hubs of inspiration, fostering the exchange of ideas and the
                birth of new perspectives. In this shared voyage of discovery, participants are empowered to unveil
                their potential, and the workshop becomes a symphony of aspiration, transforming the ordinary into the
                extraordinary.</p>
        </div>
        <div class="col-4">
            <img src="https://media.istockphoto.com/id/174911927/photo/business-woman-working-hard-on-the-desk.webp?b=1&s=170667a&w=0&k=20&c=ViOn6ktdzdFJWyaCMG4oCHZtXWPmnaGrzUNM0hh5IOY="
            alt="" id="img">
            
        </div>
    </div>
</div>