.card
{
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 0px;
  border-radius: 4px;
  box-shadow: inset;

 
}

.info-card {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 400px;
    transform: translate(-50%, -50%);
    background-color:rgb(255, 208, 0);
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: none;
    z-index: 999;
  }
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex-basis: calc(33.33% - 1rem); /* Adjust the percentage to control the card width */
    margin-bottom: 1rem;
}
h5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
.animation-card {
    border-radius: 10px;
    margin: 25px;
    padding: 50px;
    background-color: #b5d9e4;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }

  .animation-card:hover {
    transform: translateY(-5px);
  }

  .seascape {
    background: linear-gradient(to bottom, #509aee, #fff);
    height: 200px;
  }

  .butterflies {
    background: linear-gradient(to bottom, #64a9e6, #fff);
    height: 200px;
  }

  .dreams {
    background: linear-gradient(to bottom, #4287d1, #b1c6f3);
    height: 200px;
  }